body {
    background-image: url(../pic/rpiano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}
.background {
    display: inline-block;
    position: absolute;
    width: 100vw;
    height: 700px;
    backdrop-filter: saturate(0);
}
.header {
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 300px;
    color: white;
}
.header > div {
    display: inline-block;
    background-color: black;
    width: 30%;
    height: 200px;
    margin: calc((300px - 200px) / 2);
    margin-left: calc(9vw / 6);
    margin-right: calc(9vw / 6);
}
.header .hero {
    display: inline-block;
    text-align: center;
}
.hero > img {
    text-align: center;
    width: 100px;
    padding: 20px;
    filter: blur(1px);
}
.header > div:nth-child(3) {
    float: right;
}
.midsection {
    display: inline-block;
    background-color: #ffffff50;
    width: 60%;
    height: 300px;
    margin: 50px calc((100% - 60%) / 2);
}
.midsection > div {
    width: 50%;
    height: 100%;
}
.midsection .animation {
    display: inline-block;
    background-image: url(../pic/flwright.jpeg);
    background-size: cover;
    margin: 20px;
    height: calc(100% - (20px * 2));
    width: calc(50% - (20px * 2));
    animation-name: mainAnime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    filter: saturate(0);
}
.midsection .animation:hover {
    filter: saturate(1);
}
.bottom {
    display: inline-block;
    width: 100%;
    background-color: black;
    height: 800px;
}
.architects {
    display: inline-block;
    background-color: white;
    width: 60%;
    height: 60px;
    margin: 40px calc((100% - 60%) / 2);
}
.buildings {
    display: inline-block;
    background-color: grey;
}
@keyframes mainAnime {
    0% {background-image: url(../pic/flwright.jpeg);}
    33% {background-image: url(../pic/rbofill.jpg);}
    66% {background-image: url(../pic/zhadid.jpg);}
    100% {background-image: url(../pic/flwright.jpeg);}
}
.animation p {
    display: inline-block;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10%;
}
@media (max-width: 800px) {
    .midsection {
        width: 80%;
        margin: 50px calc((100% - 80%) / 2);
    }
}
@media (max-width: 600px) {
    .background {
        height: 1400px;
    }
    .midsection {
        height: 600px;
    }
    .midsection > .animation {
        width: 90%;
        margin: 20px 5%;
        height: calc(50% - 40px);
    }
    .header {
        width: 100%;
        height: 700px;
    }
    .header > div {
        width: 60%;
        margin: 5px 20%;
    }
    .header .hero {
       position: absolute;
       top: 10px;
    }
    .header > div {
        position: absolute;
        top: 220px;
    }
    .header > div:last-of-type {
        position: absolute;
        top: 440px;
    }

}